* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Mobile first */
.container {
  width: 100%;
  padding: 15px;
}

@media (max-width: 600px) {
    .featured_boks .featured_book_box 
    .featured_book_card .featurde_book_tag .writer {
        font-size: 13px;
    }

    .featured_boks .featured_book_box 
    .featured_book_card .featurde_book_tag .categories {
        font-size: 12px;
        padding: 3px 10px;
    }
}


/* Tablet */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
    margin: auto;
  }
}

/* Laptop */
@media (min-width: 1024px) {
  .container {
    max-width: 1000px;
  }
}

/*first section*/
section{
    width: 100%;
    min-height: 100vh;
    background-image: url(first\ image.jpg);
    background-size: cover;
    background-position: center;
}

.lang-btn{
    padding: 6px 14px;
    border: none;
    border-radius: 20px;
    background: #2528db;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
}

.lang-btn:hover{
    background: #cdb61e;
    color: #000;
}


section nav{
    width: 100%;
    height: auto;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 60px #3af003;
    background: #f9faf8;
    position: fixed;
    left: 0;
    z-index: 100;
}

section nav .logo img{
    width: 100px;
    margin: 8px 0;
}

section nav ul{
    list-style: none;
}


section nav li{
    display: inline-block;
    padding: 0 10px;
}

section nav li a{
    text-decoration: none;
    font-size: 25px;
    font-family: "Arial", sans-serif;
    color: #2528db;
}

section nav li a:hover{
    color:#2528db;
    font-size:30px ;
    text-shadow: 0 0 30px #ffffff;
}

section nav .social_icon i{
    margin: 0 5px;
    font-size: 25px;
    color: #2528db;
}

section nav .social_icon i:hover{
    color: #2528db;
    cursor: pointer;
    font-size: 32px;
}

section nav .container div {
  width: 35px;
  height: 3px;
  background-color: #d80303;
  margin: 6px 0;
}

section .main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 10%;
}

section .main h1{
    position: relative;
    font-size: 55px;
    top: 80px;
    left: 25px;
}

section .main h1 span{
    color:#cdb61e;
}

section .main p{
    width: 100%;
    max-width: 650px;
    text-align: justify;
    line-height: 22px;
    position: relative;
    top: 125px;
    left: 25px;
}

section .main .main_tag .main_btn{
    background: #cdb61e;
    padding: 10px 20px;
    position: relative;
    top: 200px;
    left: 25px;
    color: #fff;
    text-decoration: none;
}

section .main .main_img img{
    width: 100%;
    max-width: 780px;
    position: relative;
    top: 90px;
    left: 20px;
}

.cartTab{
    width: 400px;
    background-color: #353432;
    color: #eee;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    inset: 0 0 0 auto;
    display: grid;
    grid-template-rows: 70px 1fr 70px ;
}
section.cartTab.h1{
    color:white;
    padding: 400px;
    margin: 0;
    top: 30;
    font-weight: 30;
}

section.cartTab.btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
section.cartTab.btn button{
    background-color: yellow;
    border: none;
    font-family: poppins;
    font-weight: 500;
}

section nav .search_bar i{
    margin: 0 5px;
    font-size: 18px;
    color: #d80303;
}

section nav .search_bar i:hover{
    color: #fa9b1f;
    cursor: pointer;
}

section nav .search_bar{
    font-size: 20px;
    border: solid 0.1em #d80303;
    display: inline-block;
    position: relative;
    border-radius: 2.5em;
}
section nav .search_bar:hover{
    border: solid 0.1em  #fa9b1f;
}

/*services*/

.services{
    width: 100%;
    height: auto;
    margin: 35px 0;
}

.services .services_box{
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.services .services_box .services_card{
    text-align: center;
    width: 100%;
    max-width: 310px;
    height: 200px;
    box-shadow: 0 0 30px hsl(244, 97%, 36%);
    padding: 15px 10px;
}

.services .services_box .services_card:hover{
    box-shadow: 0 0 50px #0f9203;
    width:330px;
    height:190px;
}

.services .services_box .services_card{
    color:#023092
}

.services .services_box .services_card:hover{
    color:#023092
}

.services .services_box .services_card i{
    color: #2a1ecd;
    font-size: 45px;
    margin-bottom: 15px;
    cursor: pointer;
}

.services .services_box .services_card i:hover{
    color: #717af7;
}

.services .services_box .services_card h3{
    margin-bottom: 10px;
    color: #2a1ecd;
}

.services .services_box .services_card p{
    font-size: 14px ;
    margin-bottom: 10px;
    color: #2a1ecd;
}

.services .services_box .services_card p:hover{
    margin-bottom: 10px;
    text-shadow: 0 0 30px#023092;
}

.services .services_box .services_card h3:hover{
    margin-bottom: 10px;
    color: #050c6d;
}

.services.icon-cart
{
    position: relative;
}

.services.icon-cart span
{
    display: flex;
    width: 30px;
    height: 30px;
    background-color: rgb(46, 3, 173);
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -20%;
}

.lang-modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.lang-box {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  width: 280px;
}

.lang-box h2 {
  margin-bottom: 20px;
}

.lang-box button {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  background: #2e7d32;
  color: white;
}

.lang-box button:hover {
  background: #1b5e20;
}



/*about*/

.about{
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    padding-top: 60px;
    align-items: center;
    justify-content: space-around;
}

.about .about_image img{
    width: 100%;
    max-width: 500px;
    max-width: 500px;
    border-radius: 20px;
    box-shadow: 0 0 30px #44e213;
}

.about .about_tag h1{
    font-size: 70px;
    position: relative;
    color:  #4237db;
    text-shadow: 0 0 50px #4ad63d;
    bottom: 35px;
}

.about .about_tag h1:hover{
    font-size: 75px;
    text-shadow: 0 0 20px #62e689;
    color: #069c0d;
}

.about .about_tag p{
    font-size: 20px;
    line-height: 22px;
    width:100%;
    max-width: 700px;
    text-align: justify;
    margin-bottom: 15px;
}



/*Books*/

.featured_boks{
    width: 100%;
    height: auto;
    padding: 70px 0;
}

.featured_boks h1:hover{
    color: #5b59fc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 50px;
    text-shadow: 0 0 10px #9af89f;
}
.featured_boks h1{
    color: #3168dd;
    display: flex;
    align-items: center;
    justify-content: center;
    text-justify: justify;
    margin-bottom: 30px;
    font-size: 60px;
    text-shadow: 0 0 80px #31df3a;
}

.featured_boks .featured_book_box .featured_book_card .featurde_book_tag p{
    text-justify: justify;
    text-align: center;
}


.featured_boks .featured_book_box{
    width: 95%;
    height: auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    overflow: hidden;
    overflow-x: scroll;
}

.featured_boks .featured_book_box .featured_book_card{
    width: 100%;
    max-width: 250px;
    height: auto;
    text-align: center;
    padding: 5px;
    border: 4px solid #1f05b4;
    margin: auto 20px;
}

.featured_boks .featured_book_box .featured_book_card:hover{
    box-shadow: 0 0 40px #013197;
    background-color: #8bee8b;
}

.featured_boks .featured_book_box .featured_book_card .featurde_book_img img{
    width: 230px;
    height: 200px;
}

.featured_boks .featured_book_box .featured_book_card .featurde_book_img img:hover{
    width: 230px;
    height: 220px;
    box-shadow: 0 0 100px #ffffff;
}

.lang-en .featured_boks .featured_book_box .featured_book_card .featurde_book_tag h2 {
    margin: 12px;
    font-size: 18px;
    font-family: Arial, sans-serif;
}

.lang-ta .featured_boks .featured_book_box .featured_book_card .featurde_book_tag h2 {
    color: #0306bc;
    font-size: 11px;
    font-family: 'Noto Sans Tamil', sans-serif;
}

.featured_boks .featured_book_box .featured_book_card .featurde_book_tag .writer{
    color: #ac0c0c;
    font-size: 14px;
    margin-bottom: 6px;
}

.featured_boks .featured_book_box .featured_book_card .featurde_book_tag .categories{
    color: #000000;
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    padding: 4px 12px;
    margin-bottom: 12px;
}

.lang-en.featured_boks .featured_book_box .featured_book_card .featurde_book_tag .book_price{
    font-size: 28px;
    margin-top: 8px;
    text-justify: justify;
    text-align: justify;
}

.lang-ta.featured_boks .featured_book_box .featured_book_card .featurde_book_tag .book_price{
    font-size: 1px;
    margin-top: 8px;
    text-justify: justify;
    text-align: justify;
}

.lang-ta.featured_boks .featured_book_box .featured_book_card .featurde_book_tag .book_price{
    font-size: 1px;
    margin-top: 8px;
    text-justify: justify;
    text-align: justify;
}

.featured_boks .featured_book_box .featured_book_card .featurde_book_tag .book_price sub{
    font-weight: 100;
    padding: 0 5px;
}

.featured_boks .featured_book_box .featured_book_card .featurde_book_tag .f_btn{
    padding: 8px 20px;
    border: 2px solid #cdb61e;
    text-decoration: none;
    color: #000;
}
.featured_boks .featured_book_box .featured_book_card .featurde_book_tag .f_btn:hover{
    background-color: #e6e642;
    box-shadow: 0 0 25px #cdb61e;
    border: 2px solid #970707;
    color: #970707;
}

.featured_boks .featured_book_box .featured_book_card .featurde_book_tag .f_btn:active{
    background-color: #ffffff;
    box-shadow: 0 0 25px #970707;
    border: 2px solid #cdb61e;
    color: #000000;
}

::-webkit-scrollbar{
    width: 10px;
    height: 5px;
}

::-webkit-scrollbar-track{
    box-shadow: inset 0 0 8px rgba(0,0,0,0.2);
}

::-webkit-scrollbar-thumb{
    background: #000000;
    border-radius: 10px;
}




/*reviews*/

.reviews{
    width: 100%;
    font-size: 150px;
    height: auto;
}

.reviews h1:hover{
    text-align: center;
    font-size: 65px;
    margin-top: 55px;
}

.reviews h1{
    color:  #1ecd35;
    text-shadow: 0 0 3px #1e55cd;
    font-size: 80px;
    margin-top: 55px;
    text-align: center;
}


.reviews .review_box{
    width: 95%;
    height: auto;
    margin: 15px auto;
    margin-bottom: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.reviews .review_box .review_card{
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-bottom: 80px;
    gap: 20px;
    box-shadow: 0 0 15px #27af05;
    padding: 15px;
    margin: 0 12px;
}

.reviews .review_box .review_card:hover{
    box-shadow:  0 0 100px #0306bc;
}

.reviews .review_box .review_card i{
    float: right;
    font-size: 1px;
    position: relative;
    bottom: 20px;
    color: #eaeaea;
}

.reviews .review_box .review_card h2{
    font-size: 16px;
}

.reviews .review_box .review_card p{
    font-size: 16px;
}

.reviews .review_box .review_card .card_top img{
    width: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.reviews .review_box .review_card .card p{
    margin: 10px 0 10px 0;
    text-align: justify;
    line-height: 22px;
}

.reviews .review_box .review_card .card .review_icon i{
    font-size: 20px;
    float: left;
    margin-top: 20px;
    color: #089da1;
    padding: 0 1px;
}




/*Banner*/

.banner{
    width: 100%;
    height: 60vh;
    background-image: url(banner.jpg);
    background-size: cover;
    background-position: center;
}

.banner .banner_btn{
    padding: 8px 20px;
    background: #089da1;
    text-decoration: none;
    color: #fff;
    position: relative;
    top: 70%;
    left: 7%;
}




/*Blog*/

.blog{
    width: 100%;
    height: auto;
    margin: 25px 0;
}

.blog h1{
    text-align: center;
    font-size: 50px;
    margin-bottom: 30px;
}

.blog .blog_box{
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
@media (max-width: 768px){
    .blog .blog_box{
        grid-template-columns: 1fr;
    }
}


.blog .blog_box .blog_card{
    margin: 0 auto;
    width: 450px;
    height: auto;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
}

.blog .blog_box .blog_card .blog_img{
    width: 450px;
    height: 300px;
    overflow: hidden;
}

.blog .blog_box .blog_card .blog_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.blog .blog_box .blog_card .blog_tag{
    padding: 20px;
}

.blog .blog_box .blog_card .blog_tag h2{
    color: #089da1;
}

.blog .blog_box .blog_card .blog_tag p{
    margin-top: 10px;
    text-align: justify;
    line-height: 22px;
}

.blog .blog_box .blog_card .blog_tag .blog_icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #089da1;
    cursor: pointer;
}




/*Footer*/

footer{
    width: 100%;
    background: #eaeaea;
}

footer .footer_main{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

footer .footer_main .tag{
    margin: 10px 0;
    font-size: 16px;

}

footer .footer_main .tag img{
    width: 100px;
    margin-bottom: 10px;
}

footer .footer_main .tag p{
    width: 300px;
    line-height: 22px;
    text-align: justify;
    font-size: 25px;
}
.lang-ta footer .footer_main .tag p{
    width: 300px;
    line-height: 14px;
    text-align: justify;
    font-size: 16px;
}
footer.footer_main.tag.search_bar p{
    font-size: 16px ;
}

footer .footer_main .tag h1{
    font-size: 25px;
    margin: 25px 0;
    color: #000;
}

footer .footer_main .tag a{
    display: block;
    color: black;
    text-decoration: none;
    margin: 10px 0;
}

footer .footer_main .tag i:hover{
    display: block;
    color: #970707;
    font-size: 18px;
    cursor: pointer;
}

footer .footer_main .tag i{
    display: block;
    color: black;
    text-decoration: none;
    margin: 10px 0;
}

footer .footer_main .tag a:hover{
    display: block;
    color: #970707;
    font-size: 18px;
    cursor: pointer;
}

footer .footer_main .tag a1{
    display: block;
    color: black;
    text-decoration: none;
    margin: 10px 0;
}

footer .footer_main .tag a1:hover{
    color:#970707;
    font-size: 17px;
    cursor: pointer;
}

footer .footer_main .tag i{
    margin-right: 10px;
}

footer .footer_main .tag .social_link i{
    margin: 0 5px;
}


footer .footer_main .tag .search_bar button{
    padding: 7px 15px;
    background: #a10808;
    border: none;
    margin-top: 15px;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
}
footer .footer_main .tag .search_bar button:hover{
    background: #a10808;
    color: #ffffff;
    border-radius: 25px;
    width: 230px;
    height: 30px;
    
}

footer .footer_main .tag .search_bar button:active{
    background: #cdb61e;
    color: #000000;
    border-radius: 10px;
}

footer .end{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    color: #000;
}

footer .end span{
    color: #a10808;
    margin-left: 10px;
}